@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Source+Sans+Pro&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* *{
  border: 1px tomato solid;
} */
.header {
  display: flex;
  text-align: center;
  flex-direction: row;
  height: 8rem;
  /* background-image: linear-gradient(to bottom, #6BCAE2, #e3f7fc); */
  background-color: #6BCAE2;
  opacity: 80%;

  width: 100%;
  padding-left: 20px;
  font-size: 20px;
}

#maxform {
  background-color: white;
  display: flex;
  /* flex-direction: column; */
  align-content: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: slategrey;
  border: solid 0.25rem slategray;
  margin-top: 15rem;
  width: 30rem;
  border-radius: 2rem;
}

.centerForm{
  display: flex;
  justify-content: center;
  min-height: 100%;
}



.nav-link{
  margin-left: 20px;
}

.addBtn{
  border: 2px solid white;
  border-radius: 1rem;
  justify-content: space-around;
  margin-left: 20px;
  padding: .5rem;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 5rem;
  border-radius: 5rem;
  margin-top: 1rem;
  /* border: solid .25rem white; */
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  background-color: white;
  text-shadow: 1px 1px black;
  border-radius: 1rem;
  justify-content: space-around;
  margin: 20px;
  padding: .5rem;
}

.button:link {
  background-color: almond;
  box-shadow: 2px 5px #6BCAE2;
}

.button:visited {
  background-color: #6BCAE2;
}

.button:hover {
  background-color: #6BCAE2;
  box-shadow: 2px 5px 3px antiquewhite;

}

.parentOfCardGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 20px;
  border-radius: 1rem;
  box-shadow: 1px 1px black;
  border: 2px black solid;
  min-height: 300px;
  width: 500px;
  margin: 20px;
  background-color: white;
  opacity: 90%;
}

.cardContainer img {
  max-height: 300px;
  max-width: 450px;
}

.cardContainer .cardText .title {
  text-decoration: underline;
}

.cardContainer .cardText .description {
  min-height: 50px;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.commentSection{
  height: 100px;
  overflow-y: scroll;
  border: 1px black dashed;
  margin-top: 20px;
  padding-left: 5px;
}

.commentsContainer{
  display: flex;
  flex-direction: row;
  height: 20px;
}

.commentsContainer .username{
  font-weight: bolder;
}

.commentsContainer .comment{
  font-weight: 500;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6BCBE2;
  height: 3rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 90%;
}


/* HOME PAGE */
.homeContainer{
  display: flex;
  justify-content: center;
  padding-top: 200px;
 }

.inner{
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  /* background-color: white; */
  color:#f5f9fa;
  font-size: 2rem;
  font-weight:900;
  padding-left: 1rem;
  text-shadow: 4px 8px 6px solid black(1,1, 1, 1);
 
}

.sand{
  width: 40rem;
  border-radius: 50%;
  
}

